<div class="collection-details-container" *ngIf="collection; else notFound">
  <button mat-stroked-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    Back to Collections
  </button>

  <h2>{{ collection.title }}</h2>
  <p>{{ collection.description }}</p>

  <div *ngIf="collection.movies.length > 0; else noMovies">
    <h3>Movies in this collection ({{ collection.movies.length }})</h3>
    <ul class="movie-list">
      <li *ngFor="let movie of collection.movies" class="movie-item" (click)="openMovieDetails(movie.id)">
        <button mat-icon-button color="warn" (click)="removeMovie(movie.id, $event)">
          <mat-icon>delete</mat-icon>
        </button>
        <img [src]="
                  movie.poster_path
                    ? searchService.IMAGE_BASE_URL + movie.poster_path
                    : 'assets/images/placeholder200x300.jpg'
                " [alt]="movie.title" width="100" height="150" />
        <div class="movie-info">
          <h4>{{ movie.title }}</h4>
          <div class="vote-average">
            <span>{{ movie.vote_average.toFixed(1) }} / 10</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noMovies>
    <p>There are no movies in this collection yet.</p>
  </ng-template>
</div>
<ng-template #notFound>
  <p>Collection not found.</p>
</ng-template>