.movie-list {
  padding: 0;
}
.movie-item {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.movie-item img {
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}
.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}
.full-height {
  height: calc(100vh - 130px);
}
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .movie-item {
    width: calc(50% - 40px);
    margin-bottom: 0.1rem;
  }
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
