.details-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.movie-poster {
  object-fit: cover;
  border-radius: 10px;
}

.movie-details {
  flex: 1;
}

.movie-details h2 {
  margin-top: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.stars {
  cursor: pointer;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.stars mat-icon {
  color: #ccc;
  transition: color 0.2s;
}

.stars mat-icon.filled {
  color: #ffc107;
}

.collection-section,
.rating-section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .details-container {
    flex-direction: row;
  }
}
