<div class="create-collection-container">
  <h2>Create a new collection</h2>
  <form
    [formGroup]="collectionForm"
    (ngSubmit)="createCollection()"
    class="add-collection-form"
  >
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      <mat-error *ngIf="collectionForm.get('title')?.hasError('required')">
        Title is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error
        *ngIf="collectionForm.get('description')?.hasError('required')"
      >
        Description is required.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!collectionForm.valid"
    >
      Create Collection
    </button>
  </form>
</div>