.create-collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-collection-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .add-collection-form {
    width: 50vw;
  }
}
